.about__quote {
    background-color: var(--ps-white);
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    font-style: italic;
    position: relative;
    margin-bottom: 2rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.about__quote::before {
    content: open-quote;
    position: absolute;
    top: -30px;
    left: 30px;
    font-size: 6rem;
    color: var(--ps-terracotta);
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1;
    opacity: 0.5;
}

.about__quote p {
    /* margin-bottom: 1rem; */
    line-height: 1.6;
    position: relative;
    color: var(--ps-dark-blue);
    z-index: 1;
}

.about__quote-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    /* margin-bottom: 1rem; */
    color: var(--ps-dark-terracotta);
}

.about__quote-highlight {
    grid-column-start: 2;
    grid-column-end: 4;
    /* margin: 1.5rem 0; */
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8;
}

.about__quote span {
    font-weight: bold;
    color: var(--ps-terracotta);
    border-bottom: 1px solid var(--ps-white);
    padding-bottom: 2px;
}

.about__quote-source {
    display: block;
    text-align: right;
    color: var(--ps-terracotta);
    font-weight: bold;
    margin-bottom: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}
