.reviews__slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.reviews__slider-container {
    margin: auto;
    width: 70%;
    height: 300px;
    overflow: hidden;
}

.slider-wrapper {
    padding-bottom: 1rem;
}

.slider-review-card {
    flex: 0 0 100%;
    width: 100%;
}

@media (max-width: 992px) {
    .reviews-slider {
        height: 100%;
    }
    
    .reviews__slider-container {
        width: 100%;
        height: 100%;
    }
    .slider-review-card {
        padding: 1rem;
    }
}