.rental {
  width: 100%;
  overflow-y: auto;
}

.rental__hero-banner {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.rental__hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rental__content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--ps-whiter);
}

.rental__primary-section {
  padding: 0 2rem;
}

.rental__header {
  text-align: center;
  padding: 2rem;
}

.rental__header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: var(--ps-terracotta);
  margin-bottom: 0.5rem;
  line-height: 3.5rem;
}

.rental__header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--ps-grey);
}

.rental__header p {
  margin-top: 1rem;
}

.rental__tagline {
  font-style: italic;
  color: var(--ps-terracotta);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.rental__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.red {
  color: var(--ps-terracotta);
}
.green {
  color: var(--ps-green);
}

.rental__details {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 2rem;
}

.rental__details h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.rental__details p {
  line-height: 1.7;
  color: #4B5563;
  margin-bottom: 1.5rem;
}

.rental__details p:last-child {
  margin-bottom: 0;
}

.rental__primary-content-wrapper {
  gap: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.rental__list-container {
  flex: 1;
  padding: 2rem;
  background-color: white;
  border-radius: 3px;
}

.rental__list-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.rental__list-container p {
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.rental__list-container p:last-child {
  margin-bottom: 0;
}

.rental__list {
  padding-left: 1rem;
}

.rental__list-item {
  margin-bottom: 0.9rem;
}

.rental__list-with-emoji {
  list-style: none;
  padding: 0;
}

.rental__list-item-with-emoji {
  display: flex;
  margin-bottom: 0.9rem;
  align-items: flex-start;
}

.rental__image-gallery-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.rental__image-gallery {
  display: flex;
  overflow-x: auto;
  /* padding: 2rem 0; */
  background-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: #666 #1a1a1a;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.rental__image-gallery::-webkit-scrollbar {
  height: 8px;
}

.rental__image-gallery::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.rental__image-gallery::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 4px;
}

.rental__gallery-image-container {
  position: relative;
  flex: 0 0 350px;
  height: 220px;
  margin: 0 10px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.rental__gallery-image-container:hover {
  transform: translateY(-5px);
}

.rental__gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.rental__gallery-image-container:hover .rental__gallery-image {
  transform: scale(1.05);
}

.rental__image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  padding: 15px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.rental__gallery-image-container:hover .rental__image-overlay {
  opacity: 1;
}

.rental__image-caption {
  font-size: 0.9rem;
  font-weight: 500;
}

.rental__gallery-nav-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.rental__gallery-nav-button {
  background-color: transparent;
  border: 2px solid var(--ps-terracotta);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  z-index: 10;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.rental__gallery-nav-button > * {
  color: var(--ps-terracotta);
  width: 1.5rem;
  height: 1.5rem;
}

.rental__gallery-nav-button:hover > *,
.rental__gallery-nav-button:focus-visible > * {
    transform: scale(1.1);
}

.rental__gallery-nav-button:hover,
.rental__gallery-nav-button:focus-visible {
    background-color: rgba(225, 124, 96, 0.1);
}

.rental__secondary-section {
  padding: 0 2rem;
}

.rental__secondary-content-wrapper {
  gap: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.emoji {
  display: inline-block;
  margin-right: 1rem;
  min-width: 24px;
}

.rental__booking-section {
  padding: 0 2rem 2rem 2rem;
}

.rental__booking-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.rental__booking-title {
  background-color: var(--ps-terracotta);
  color: white;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.rental__booking-description {
  text-align: center;
  padding: 1.5rem;
  font-size: 1.1rem;
  color: #4B5563;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #E5E7EB;
}

.rental__booking-form {
  padding: 2rem;
  text-align: center;
}

.rental__booking-contact-message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.rental__booking-button {
  margin: auto;
  display: block;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid var(--ps-dark-terracotta);
  color: white;
  background: rgba(224, 122, 95, 1);
  border-radius: 6px;
  box-shadow: 
      0 1px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.08);
  transition: color 0.1s ease;
  cursor: pointer;
}

.rental__booking-button:hover {
  border: 1px solid var(--ps-terracotta);
  background: rgba(224, 122, 95, 0.9);
}


@media (min-width: 769px) {
  .rental__list-container {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {

  .rental__primary-section {
    padding: 2rem 1rem;
  }

  .rental__primary-content-wrapper {
    flex-direction: column;
    padding: 0 1rem;
    gap: 3rem;
  }

  .rental__hero-banner {
    height: 60vh;
  }
  
  .rental__gallery-image-container {
    flex: 0 0 280px;
    height: 180px;
  }

  .rental__header {
    padding: 2rem 1rem;
  }

  .rental__secondary-section {
    padding: 2rem 1rem;
  }

  .rental__secondary-content-wrapper {
    flex-direction: column;
  }
  
  .rental__booking-section {
    padding: 2rem 1rem;
  }
  
  .rental__booking-title {
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .rental__booking-form {
    padding: 1.5rem;
  }
}