.history {
  padding: 130px 0 60px 0;
}

.history__title {
  font-size: 2.5rem;
  color: var(--ps-terracotta);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
}

/* .history__subtitle {
  font-size: 1.2rem;
  color: var(--ps-blue);
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 1rem;
} */

.history__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background-color: var(--ps-green);
}

.top-history__container {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.bottom-history__container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 768px) {
  .history-page h1 {
    font-size: 28px;
  }

  .history-page h2 {
    font-size: 24px;
  }

  .history-page h3 {
    font-size: 20px;
  }
}
