.mission {
    max-width: 1200px;
    margin: 0 auto;
    padding: 130px 2.5rem 60px 2.5rem;
    background-color: var(--ps-white);
    color: var(--ps-blue);
    line-height: 1.7;
}

.mission__title {
    font-size: 2.3rem;
    color: var(--ps-terracotta);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 1rem;
}

.mission__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: var(--ps-green);
}

.mission > p:first-of-type {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 500;
}

.mission h2 {
    color: var(--ps-terracotta);
    font-size: 2rem;
    border-bottom: 2px solid var(--ps-green);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.hidden-gable__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.hidden-gable__content {
}

.hidden-gable__content-image-container {
    height: 350px;
    width: 650px;
    overflow: cover;
}

.hidden-gable__image {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nourrcier-family-wrapper {
    line-height: 1.7;
}

.mission > p:nth-of-type(2),
.mission > p:nth-of-type(3),
.mission > p:nth-of-type(4) {
    margin-bottom: 0.75rem;
    color: var(--ps-blue);
}

.mission ul {
    padding-left: 1.5rem;

}

.mission ul li {
    padding-top: 0.3rem;
    padding-left: 1.5rem;
    position: relative;
}

.mission ul li::before {
    content: '•';
    color: var(--ps-green);
    position: absolute;
    left: 0;
    font-weight: bold;
}

.mission__img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 0;
}

.mission__img-grid img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .mission__title {
        font-size: 2.5rem;
    }

    .mission__img-grid {
        grid-template-columns: 1fr;
    }
}