.about {
    min-height: 100dvh;
    max-width: 1400px;
    margin: auto;
    padding: 1rem;
    background-color: var(--ps-white);
    color: var(--ps-blue);
}

.about__title {
    font-size: 2.5rem;
    color: var(--ps-terracotta);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.about__location {
    display: block;
    font-size: 1.2rem;
    color: var(--ps-green); 
    margin-bottom: 1rem;
}

.about__content-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.about__content-image-container {
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 200px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 3px;
    overflow: hidden;
    aspect-ratio: 3/4;
}

.about__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content-text {
    grid-column-start: 2;
    grid-column-end: 4;
}

.about__content p {
    margin-bottom: 0.5rem;
    line-height: 1.7;
}

.about__content-highlight {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--ps-blue);
    font-style: italic;
    width: auto;
}

.movie_title {
    font-style: italic;
}

.about__quote {
    background-color: var(--ps-sand);
    padding: 1rem;
    border-radius: 3px;
    border-left: 5px solid var(--ps-terracotta);
    font-style: italic;
    position: relative;
}

.about__quote p {
    margin-bottom: 0.5rem;
    color: var(--ps-blue);
}

.about__quote-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.about__quote-highlight {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 0 1rem;
    font-size: 1rem;
}

.about__quote span {
    font-weight: bold;
}

.about__quote-source {
    display: block;
    text-align: right;
    color: var(--ps-terracotta);
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-right: 1rem;
}

@media (max-width: 900px) {

    .about__content-highlight {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .about__image-container {
        grid-row: 1;
        width: 250px;
        width: 100%;
        height: 300px;
    }
}

@media (min-height: 750px) {
    .about {
        min-height: 100%;
    }
}

@media (max-width: 768px) {

    .about__content-wrapper {
        display: block;
    }

    .about__title {
        font-size: 2rem;
        line-height: 1.4;
    }

    .about__location {
        font-size: 1rem;
    }

    .about__content-image-container {
        float: left;
        margin-right: 1rem;
    }

    .about__content-highlight {
        margin: 1rem 0;
    }

}