.about {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    background-color: var(--ps-white);
    color: var(--ps-blue);
}

.about__title {
    font-size: 2.5rem;
    color: var(--ps-terracotta);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.about__location {
    display: block;
    font-size: 1.2rem;
    color: var(--ps-green); 
    margin-bottom: 1rem;
}

.about__subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--ps-blue);
    font-style: italic;
    margin-bottom: 1rem;
}

.about__wrapper {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.about__image-container {
    flex: 0 0 20%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 3px;
    overflow: hidden;
}

.about__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content {
    flex: 1;
}

.about__content p {
    margin-bottom: 0.5rem;
    line-height: 1.7;
}

.movie_title {
    font-weight: 600;
    font-style: italic;
    color: var(--ps-terracotta);
}

.about__quote {
    background-color: var(--ps-sand);
    padding: 1rem;
    border-left: 5px solid var(--ps-terracotta);
    font-style: italic;
    position: relative;
}

.about__quote p {
    margin-bottom: 0.5rem;
    color: var(--ps-blue);
}

.about__quote-highlight {
    margin: 0 1rem;
    font-size: 1rem;
}

.about__quote span {
    font-weight: bold;
}

.about__quote-source {
    display: block;
    text-align: right;
    color: var(--ps-terracotta);
    font-weight: bold;
    /* margin-top: 1rem; */
}