.resort-footer {
    padding: 2rem;
    color: var(--ps-white);
    background-color: var(--ps-blue);
}

.footer-content {
    text-align: center;
    height: 100%;
}

.footer-content span {
    margin-left: 4px;
}

.top-footer-group {
    margin-bottom: 1.2rem;
}

.bottom-footer-group {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 1.2rem;
}

.manager, .web-designer {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25rem;
}

.permit {
    margin-top: 1rem;
}