header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    /* background-color: rgb(16, 14, 0); */
    /* background-color: #303030; */
    background-color: hsl(0, 0%, 18%);
    color: var(--ps-white);
    font-size: 1.06rem;
    letter-spacing: 0.02rem;
}

.logo-container {
    margin-left: 4.05vw;
    cursor: pointer;
    height: 100%;
}

.logo-container a {
    width: 100%;
    height: 100%;
}

.logo-container img {
    padding: 1.5rem 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabs-container {
    position: relative;
    margin-left: auto;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-right: 4.05vw;
    font-weight: 500;
}

.tab {
    font-family: "Poiret One", serif;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    /* color: rgb(218, 191, 78); */
    padding: 5px 8px;
}

.tab:hover {
    color: var(--ps-sand);
}