header {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    color: var(--ps-white);
    font-size: 1.06rem;
    letter-spacing: 0.02rem;
    padding: 0 2rem;
}

ul {
    list-style-type: none;
}

.transparent {
    background-color: transparent;
}

.solid {
    background-color: hsl(0, 0%, 18%);
}

.fixed {
    position: fixed;
}

.logo-container {
    cursor: pointer;
    height: 100%;
}

.logo-container a {
    width: 100%;
    height: 100%;
}

.logo-container img {
    padding: 1.5rem 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
    display: block;
}

.estate-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 0.2rem;
    font-family: "Poiret One", serif;
}

.estate-word {
    line-height: 1.15;
    font-size: 1.1rem;
    color: var(--ps-white);
    margin-left: calc((var(--n, 0) * 1rem));
}

.estate-word:nth-child(1) { --n: 0; }
.estate-word:nth-child(2) { --n: 1; }
.estate-word:nth-child(3) { --n: 2; }

.tabs-container {
    position: relative;
    margin-left: auto;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.tabs-container {
    gap: 0.5rem;
}

.hidden {
    display: none;
}

.dropdown-container {
    position: relative;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: calc(100%);
    padding: 0 1rem;
    background-color: hsl(0, 0%, 18%);
    transition: all 0.3s;
    z-index: 999;
}

.rental {
    left: -15px;
    width: 12rem;
}

.mobile {
    left: 0;
    top: 100px;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mobile .tab {
    font-size: 1.4rem;
}

.show {
    display: block;
}

.tab {
    font-family: "Poiret One", serif;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem;
}

.tab:hover {
    color: var(--ps-sand);
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
}

.hamburger-icon:hover .line {
    background-color: var(--ps-sand);
}

.line {
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--ps-white);
}

@media (max-width: 480px) {

    .header {
        padding: 0 1rem;
    }

    .estate-name {
        margin-left: 0;
    }

}