.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;
  }
  
  .modal-container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }

  .modal-overlay.simple .modal-container {
    all:unset;
    background-color: rgba(249, 247, 236, 0.1);
    padding: 0 2rem 2rem 2rem;
  }
  
  .modal-header {
    padding: 1rem 1rem 1rem 2rem;
    background-color: hsl(0, 0%, 18%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-overlay.simple .modal-header {
    background-color: unset;
    /* background-color: rgba(249, 247, 236, 0.1); */
  }
  
  .modal-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--ps-whiter);
    margin-left: auto;
  }
  
  .modal-close-button {
    padding: 0.25rem;
    background: none;
    border: none;
    border-radius: 50%;
    color: var(--ps-whiter);
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: auto;
  }
  
  .modal-close-button svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  

  .modal-image {
    width: auto;
    height: auto;
    padding-top: 1rem;
    max-width: 90vw;
    object-fit: contain;
  }
