
.kimball {
  display: flex;
  padding: 3rem;
  gap: 3rem;
}

.kimball__text-content {
  margin: 0 auto;
  max-width: 900px;
}

.kimball img {
  margin: auto;
  max-width: 600px;
  border-radius: 3px;
}

.kimball .list-item {
  margin: 1.2rem 0;
  padding-left: 0.5rem;
  border-left: 3px solid var(--ps-terracotta);
  border-radius: 3px;
  list-style-type: none;
  text-align: left;
}


@media (max-width: 1300px) {
  .kimball {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  
  .kimball__text-content,
  .kimball img {
    width: 90vw;
    max-width: 900px;
  }
}