.swasey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
}

.swasey .row {
  display: grid;
  grid-auto-flow: column; /* Layout images in a single row */
  grid-auto-columns: minmax(0, 1fr); /* Ensure images share the container space */
  width: 100%; /* Row takes up the full width */
  height: auto; /* Adjust height based on the content */
  gap: 1rem;
  padding: 0.5rem;
}

.swasey .row img {
  width: 100%; /* Images stretch within their column */
  height: 100%; /* Images stretch vertically */
  object-fit: contain; /* Preserve aspect ratio within the grid cell */
}

.swasey .list-item {
  margin: 1.2rem 1rem;
  padding: 0.5rem;
  border-left: 3px solid var(--ps-terracotta);
  border-radius: 3px;
  list-style-type: none;
}
