.swasey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-grow: 1;
  max-width: 1000px;
  margin: auto;
}

.swasey__img {
  margin: 0;
  padding: 0.5rem;
}

.dw-clstr--hrz {
  flex-direction: column;
}

.dw-pnl__cntnt {
  overflow: hidden;
  width: 100%;
  background-color: var(--ps-whiter);
}

.dw-clstr__sgmnt {
  display: flex;
  flex: 1 1 auto;
}

.swasey img {
  max-height: 500px;
}

.swasey .list-item {
  margin: 1.2rem 1rem;
  padding: 0.5rem;
  border-left: 3px solid var(--ps-terracotta);
  border-radius: 3px;
  list-style-type: none;
}

@media (max-width: 800px) {
  .swasey__img {
    padding: 0.3rem;
  }
}