.cracraft {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-gap: 1rem;
    padding: 1rem;
    /* max-width: 96vw; */
}

.cracraft__headline {
    grid-column: 1 / -1;
}

.cracraft__article-photo-self {
    display: flex;
    flex: 1;
    background-color: hsl(0, 0%, 93%);
    grid-column: 1/4;
}

.cracraft__main-text {
    grid-column: 4/10;
    background-color: var(--ps-whiter);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cracraft__main-text h3 {
    line-height: 1.5rem;
    padding-bottom: 0.25rem;
}

.cracraft__main-text .list-item {
    margin: 1.2rem auto;
    padding: 0 0.5rem;
    border-left: 3px solid var(--ps-terracotta);
    border-radius: 3px;
    list-style-type: none;
}

.cracraft__article-text {
    grid-column: 10/12;
    background-color: hsl(0, 0%, 93%);
}

.cracraft__article-photo-house {
    grid-column: 12/-1;
    background-color: hsl(0, 0%, 93%);
}

.cracraft__quote {
    grid-column: 1/-1;
    background-color: var(--ps-whiter);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.cracraft__quote cite {
    text-align: right;
    padding-right: 1rem;
}

/* Common styles for images */
.cracraft img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 900px) {
    .cracraft {
        grid-template-columns: repeat(4, 1fr);
    }

    .cracraft__headline {
        grid-row: 1;
        grid-column: 1/-1;
    }

    .cracraft__article-photo-self {
        grid-row: 2;
        grid-column: 1/2;
    }
    .cracraft__main-text {
        grid-row: 2;
        grid-column: 2/5;
        padding: 1.5rem;
    }

    .cracraft__article-text {
        grid-row: 3;
        grid-column: 1/2;
    }

    .cracraft__article-photo-house {
        grid-row: 3;
        grid-column: 2/5;
    }
}