.war-bonds {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.war-bonds__text-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
}

.war-bonds h3 {
  line-height: 1.7rem;
}

.war-bonds .list-item {
  margin: 1.2rem 0;
  padding-left: 0.5rem;
  border-left: 3px solid var(--ps-terracotta);
  border-radius: 3px;
  list-style-type: none;
  text-align: left;
}

.war-bonds__img-container {
  text-align: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.war-bonds img {
  width: 100%; /* Images stretch within their column */
  height: 100%; /* Images stretch vertically */
  object-fit: contain;
  max-height: 500px;
}

.war-bonds__img-container.zoom {
  transform: scale(1.2);
}

@media (max-width: 900px) {
  .war-bonds {
    display: grid;
    grid-template-columns: 1 1fr;
    padding: 1rem;
  }

  .war-bonds__text-content {
    grid-row: 1;
  }

  .war-bonds__img-container {
    padding-bottom: 1rem;
  }
}