.slider-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.main-image {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.thumbnails {
  display: flex;
  gap: 8px;
  flex: 1;
}

.thumbnail {
  flex: 1;
  height: 80px;
  padding: 0;
  border: none;
  background: none;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.1s ease;
}

.overlay:hover {
  background: transparent;
}

.thumbnail.active {
  border: 4px solid transparent;
  box-shadow: 0 0 0 2px #3b82f6;
}


.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--ps-terracotta);
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.nav-button:hover {
  background-color: rgba(225, 124, 96, 0.1);
}

.nav-button svg {
  width: 24px;
  height: 24px;
  color: var(--ps-terracotta);
}

@media (max-width: 950px) {
  .slider-container {
    max-width: 500px;
  }

  .thumbnails {
    display: none;
  }

  .navigation {
    justify-content: space-between;
    transform: translateY(-50px);
  }

  .nav-button.prev {
    transform: translateX(-40px);
  }

  .nav-button.next {
    transform: translateX(40px);
  }

  .nav-button {
    background-color: rgba(244, 241, 222, 0.7);
  }

  .nav-button:hover {
    background-color: var(--ps-white);
  }

}


@media (max-width: 600px) {
  .slider-container {
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  .slider-container {
    max-width: 340px;
  }
}

@media (max-width: 400px) {
  .slider-container {
    max-width: 300px;
  }
}