*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ps-dark-terracotta: hsl(13, 68%, 58%);
  --ps-terracotta: #e07a5f;
  --ps-sand: #f7e0bb;
  --ps-green: hsl(151, 24%, 55%);
  --ps-dark-blue: hsl(234, 20%, 20%);
  --ps-blue: #3d405b;
  --ps-grey: #555;
  --ps-white: #f4f1de;
  --ps-whiter: #f9f7ec;
  --ps-whitest: hsl(52, 50%, 97%);
  --ps-gold: #d4af37;
  --ps-light-shadow: rgba(0, 0, 0, 0.15);
}

html {
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}

body {
  background-color: var(--ps-white);
  font-family: Montserrat, sans-serif;
  color: var(--ps-blue);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2 {
  font-family: 'Playfair Display', serif;
}

h2 {
  text-align: center;
}

h3 {
  line-height: 2.7rem;
}

.page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #555;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}