*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ps-dark-terracotta: hsl(13, 68%, 58%);
  --ps-terracotta: #e07a5f;
  --ps-sand: hsl(37, 79%, 85%);
  --ps-green: hsl(151, 24%, 55%);
  --ps-dark-blue: hsl(234, 20%, 20%);
  --ps-blue: #3d405b;
  --ps-lt-blue: hsl(234, 20%, 70%);
  --ps-grey: #555;
  --ps-white: #f4f1de;
  --ps-whiter: hsl(52, 50%, 95%);
  --ps-whitest: hsl(52, 50%, 97%);
  --ps-gold: #d4af37;
}

html {
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}

body {
  background-color: var(--ps-white);
  font-family: Montserrat, sans-serif;
  color: var(--ps-blue);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
}

h3 {
  line-height: 2.7rem;
}
