.image-gallery-wrapper.fun-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  .image-gallery-wrapper.grid-style {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .img-wrapper {
    /* overflow: hidden; */
    cursor: pointer;
    transition: ease 0.7s;
    position: relative;
    margin: 0 -0.4rem;

  }

.image-gallery-wrapper .img-gallery-img.make-larger {
  transform: scale(1.1);
}

  .image-gallery-wrapper.fun-style .img-wrapper {
    display: flex;
    box-shadow: 0 10px 50px rgba(95, 47, 17, 0.2);
    border: 5px solid var(--ps-whiter);
  }

  .image-gallery-wrapper.fun-style .img-wrapper:nth-child(odd) {
    transform: rotate(-6deg);
  }
  
  .image-gallery-wrapper.fun-style .img-wrapper:nth-child(even) {
    transform: rotate(6deg);
  }

  .image-gallery-wrapper.grid-style .img-wrapper {
    margin: 1rem auto;
  }

  .img-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.7s;
    text-align: center;
  }

  .img-wrapper .text-content {
    margin-top: 0.5rem;
    color: var(--ps-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
    max-width: 250px;
  }

  .image-gallery-wrapper.fun-style .img-wrapper:hover {
    transform: rotate(0deg);
    margin: 0 2rem;
  }
 
  .image-gallery-wrapper.grid-style .img-wrapper:hover {
    transform: rotate(0deg) scale(1.05);
  }
  
  .img-wrapper:hover .overlay {
    opacity: 1;
  }
  
  .img-gallery-img {
    transition: 0.7s;
    vertical-align: top;
    /* object-fit: contain; */
    object-fit: cover;
    filter: sepia(20%) hue-rotate(5deg);
  }

  .image-gallery-wrapper.fun-style .img-gallery-img {
    max-width: 35vh;
    max-height: 40vh;
  }

  .image-gallery-wrapper.grid-style .img-gallery-img {
    max-width: 40vh;
    max-height: 45vh;
  }

  .img-wrapper:hover .img-gallery-img {
    filter: none;
  }
 












/* 
  .image-gallery-wrapper.fun-style {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-gallery-wrapper.grid-style {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  
  .img-wrapper {
    overflow: hidden;
    cursor: pointer;
    transition: ease 0.7s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid pink;
  }
  
  .image-gallery-wrapper.fun-style .img-wrapper {
    display: flex;
    box-shadow: none;
  }
  
  .image-gallery-wrapper.fun-style .img-wrapper:nth-child(odd) {
    transform: rotate(-5deg);
  }
  
  .image-gallery-wrapper.fun-style .img-wrapper:nth-child(even) {
    transform: rotate(5deg);
  }
  
  .image-gallery-wrapper.grid-style .img-wrapper {
    margin: 1rem auto;
  }
  
  .img-wrapper .text-content {
    margin-top: 1rem;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0;
    padding: 0.5rem;
    text-align: center;
    transition: opacity 0.7s;
    max-width: 250px;
  }
  
  .img-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.7s;
    text-align: center;
  }
  
  .image-gallery-wrapper.fun-style .img-wrapper:hover {
    transform: rotate(0deg);
    margin: 0 1rem;
  }
  
  .image-gallery-wrapper.fun-style .img-wrapper:hover .text-content {
    opacity: 1;
  }
  
  .image-gallery-wrapper.grid-style .img-wrapper:hover {
    transform: rotate(0deg) scale(1.05);
  }
  
  .img-gallery-img {
    transition: 0.7s;
    vertical-align: top;
    filter: sepia(20%) hue-rotate(5deg);
  }
  
  .image-gallery-wrapper.fun-style .img-gallery-img {
    max-width: 35vh;
    max-height: 40vh;
  }
  
  .image-gallery-wrapper.grid-style .img-gallery-img {
    max-width: 40vh;
    max-height: 45vh;
  }
  
  .img-wrapper:hover .img-gallery-img {
    filter: none;
  }
     */