.themes-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

.theme-snippet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.theme-snippet {
    text-align: center;
    padding: 0 1rem;
}

.theme-snippet h2 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.themes-header {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.8rem;
    padding: 2.5rem 0;
    color: var(--ps-terracotta);
}

@media (max-width: 768px) {
    .theme-snippet-container {
        flex-direction: column;
    }
    
    .themes-header h1 {
        font-size: 2rem;
    }
}






/* Version 1 */

/* .themes-container {
    display: flex;
    flex-direction: column;
    background-color: var(--ps-whiter);
}

.themes-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.themes-header h1 {
    font-size: 2rem;
    color: var(--ps-blue);
    margin: 0;
}

.themes-header p {
    font-size: 16px;
    color: var(--ps-blue);
    margin: 5px 0 20px;
}

.theme-snippet-container {
    font-family: 'Georgia', serif;
    background-color: var(--ps-whiter);
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.theme-snippet {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background: var(--ps-whiter);
    border: 1px solid #ccc;
    position: relative;
    font-size: 14px;
    line-height: 1.6;
    color: var(--ps-blue);
    text-align: left;
    background-image: url('/img/paper-fibers.png');
    background-size: cover;
    cursor: pointer;
    transition: ease 0.7s;
}

.theme-snippet:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
}

.theme-snippet h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
} */